<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body{
            text-align: center;
            color: #4b4b1d;
        }
        span{
            font-size:14px;
        }
        table{
            border-collapse: collapse;
            width: 80%;
        }
        table,td,th{
            border:1px solid darkmagenta;
        }
    </style>
</head>
<body>

    <span>修改员工</span>
    <form th:action="@{/emp/updateEmp}" th:object="${emp}" method="post"
        enctype="multipart/form-data">
        <table align="center">
            <tr>
                <td>姓名:</td>
                <td>
                    <input th:type="hidden" name="eid" th:value="${emp.eid}">
                    <input th:type="text" name="ename" th:value="${emp.ename}">
                </td>
            </tr>
            <tr>
                <td>薪资</td>
                <td>
                    <input th:type="number" name="salary" th:value="${emp.salary}">
                </td>
            </tr>
            <tr>
                <td>职位:</td>
                <td>
                    <input th:type="text" name="job" th:value="${emp.job}">

                </td>
            </tr>
            <tr>
                <td>生日:</td>
                <td>
                    <input th:type="date" name="birthday">
                </td>
            </tr>
            <tr>
                <td>照片：</td>
                <td>
                    <input th:type="file" name="file">
                </td>
            </tr>
            <tr>
                <td>所在部门：</td>
                <td>
                    <select name="did">
                        <option>--请选择所在部门--</option>
                        <option th:each="dept:${depts}" th:text="${dept.dname}"
                            th:value="${dept.did}"></option>
                    </select>
                </td>
            </tr>

        </table>
        <input th:type="submit" value="提交">
    </form>
</body>
</html>